<router-outlet></router-outlet>

<main id="main_contents" class="container">
  <div class="row">
    <div class="col-12 col-md">
      <h1 class="mat-display-3">Welcome to Employee Dashboard</h1>
      <!-- <button mat-raised-button color="primary">Primary</button>
      <button mat-raised-button color="accent">Accent</button> -->
    </div>
  </div>

  <div class="row">
    <div id="signup" class="col-12 col-md-5 d-flex flex-column mt-4 justify-content-center">
      <h2 class="mat-h1">SignUp</h2>
      <p class="mat-body-1">Register here, if you have not already!</p>
      <form class="d-flex flex-column">
        <mat-form-field>
          <mat-label class="label">Email ID</mat-label>
          <input class="input" appearance="fill" matInput autofocus required>
        </mat-form-field>

        <mat-form-field>
          <mat-label class="label">Password</mat-label>
          <input type="password" matInput  autofocus required>
        </mat-form-field>
        <button mat-raised-button color="primary">Sign Up</button>
      </form>
    </div>
    <div id="login" class="col-12 col-md-5 offset-md-1 mt-4">
      <h2 class="mat-h1">Login</h2>
      <p class="mat-body-1">Already have an account?</p>
      <form class="d-flex flex-column">
        <mat-form-field>
          <mat-label class="label">Email ID</mat-label>
          <input class="input" appearance="fill" matInput autofocus required>
        </mat-form-field>

        <mat-form-field>
          <mat-label class="label">Password</mat-label>
          <input type="password" matInput  autofocus required>
        </mat-form-field>
        <button mat-raised-button>Login</button>
      </form>
    </div>
  </div>
  
</main>

<div class="container" id="dashboard">
  <app-dashboard></app-dashboard>
</div>